.main_layout {
  background-color: #ffc916;
  height: 100%;
  width: 100%;
  .navbar {
    height: 10vh;
    background-color: #111111;
    color: #ffc916;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .nav_route {
      display: flex;
    }
  }
  .content {
    .image {
      height: 70vh;
    }
    .about {
      padding: 2rem 0;
      background-color: #ffc916;
      height: 100vh;
      display: flex;
      flex-direction: column;
      .about_heading {
        color: #111111;
        display: flex;
        justify-content: center;
      }
      .about_content {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 1rem 5rem;
        .about_us {
          h4 {
            color: #111111;
            padding-top: 20px;
            font-size: 1rem;
            font-weight: 700;
            line-height: 30px;
            span {
              color: #999;
              font-size: 1.5rem;
            }
          }
          p {
            color: #999;
            line-height: 1.7rem;
          }
          .myequipment {
            color: #111111;
            font-weight: 700;
            font-size: 1.5rem;
            ul {
              color: #999;
              font-size: 1rem;
              line-height: 2rem;
            }
          }
        }
      }
    }
    .service {
      // height: 100vh;
      background-color: #ffc916;
      margin: 2rem 0;
      .service_heading {
        color: #111111;
        display: flex;
        justify-content: center;
      }
      .card {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-column-gap: 3%;
        grid-row-gap: 3%;
        height: 90%;
        justify-content: center;
      }
    }
    .work {
      height: 100vh;
      background-color: #ffc916;
      .work_heading {
        color: #111111;
        display: flex;
        justify-content: center;
      }
      .work_card {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-column-gap: 2%;
        grid-row-gap: 2%;
        justify-content: center;
      }
    }
    .blog {
      height: 100vh;
      background-color: #ffc916;
      .blog_heading {
        color: #111111;
        display: flex;
        justify-content: center;
      }
    }
    .customerreview {
      height: 100vh;
      background-color: #ffc916;
      .customer_heading {
        color: #111111;
        display: flex;
        justify-content: center;
      }
    }
    .contact {
      height: 70vh;
      background-color: #ffc916;
      .contact_heading {
        color: #111111;
        display: flex;
        justify-content: center;
      }
    }
  }
  .footer {
    height: 30vh;
    background-color: #111111;
  }
}
.card_container {
  background-color: #111111;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    color: #ffc916;
  }
  .card_image {
    width: 20rem;
    height: 25rem;
  }
}

// color pallete  #FFC916 and #111111
